{% extends "base.html" %}
{% block title %}Libraries{% endblock %}
{% block content %}
  <style>
    dl dt {
      float:left;
      clear:left;
      width:30%;
    }
    dl dd {
      float:left;
    }
  </style>
  <section class="row">
    <div class="small-12 large-12 columns">
      <h1>{{title}}</h1>
      <h2>BFI National Archive</h2>
      <hr/>
    </div>
  </section>
  <section class="row">
    <div class="small-12 columns">
      <h3>About this film</h3>
      <dl>
        {% for item in meta_data %}
          <dt>{{item[0]}}</dt>
          <dd>{{item[1]}}</dd>
        {% endfor %}
      </dl>
      <hr/>
      <h3 style="clear:left">Related books</h3>
      {% if books %}
        <ul>
          {% for book in books %}
            <li>
              <a href="{{url_for('book', isbn=book.isbn[0])}}">{{book.title}}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No related books were found</p>
      {% endif %}

    </div>
    <div class="small-12 columns">
    <hr/>
      <h2 style="text-align:center;">Where to watch this film</h2>
      <p>
        This film is part of the BBC and BFI National Archive collection and is available to watch at some libraries. The nearest libraries you can watch this are:
      </p>
      <ul class="buttonlist">
        {% for library in libraries_with_archive %}
            <li>
              <a href="{{url_for('library', slug=library.slug)}}">{{library.name}}</a>
              <span class="label success">OPEN NOW</span>
            </li>
          {% endfor %}
      </ul>
      <hr/>
      <div class="panel" style="background:#fafafa;">
        <h2 style="text-align: center">How to watch this film</h2>
        <ol>
          <li>
            To watch this film in a library, find a screen with this icon:  
            <img src="{{url_for('static', filename='images/access.png')}}" width="30"/>
          </li>
          <li>
            Then use the scanner to scan this barcode:
            <div style="text-align:center">
              <img src="{{url_for('static', filename='images/qr.png')}}">
            </div>
          </li>
        </ol>
      </div>
    </div>
  </section>
{% endblock %}