<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <title>Local update</title>
</head>
<body>
  <div id="email" class="row">
    <div class="columns small-12 medium-6 medium-offset-3">
      <div class="email-header">
        <img src="{{url_for('static', filename='images/logo-blue.svg')}}">
        <h1>Ashbourne Library newsletter</h1>
      </div>
      <div class="panel">
        <h5>New planning application for Nettlefield Hall</h5>
        <h6>Borchester Council</h6>
        <p>
          Variation of condition 2 (Approved Plans) of planning permission ref:14/02756/FUL (Refurbishment and conversion of existing building to provide office (B1) accommodation at lower levels, 34 residential units on upper levels, together with ancillary residential accommodation, car and cycle parking and refuse storage) Granted on 19.01.2015
        </p>
        <a href="#" class="button">View full details</a>
        <p><small>borchester.gov.uk</small></p>
      </div>
      <div class="panel">
        <h5>Reading group pledge</h5>
        <h6>Ashbourne Library</h6>
        <p>
          "I will start a crime reading group at Ashbourne Library if 10 other people will join &mdash; Sue (Library member)"
        </p>
        <a href="#" class="button">Sign pledge</a>
        <p><small>ashbourne.libraries.uk</small></p>
      </div>
      <div class="panel">
        <h5>Parking suspension Elliot Road</h5>
        <h6>Borchester Council</h6>
        <p>
          parking will be suspended 
        </p>
        <a href="#" class="button">Sign pledge</a>
        <p><small>borchester.gov.uk</small></p>
      </div>
      <div class="panel">
        <h5>Jumble Trail</h5>
        <h6>Interests.<em>me</em></h6>
        <p>
          Book your spot at our 2016 Jumble Trail and clear you clutter or come along on the day to pick up a bargain.
        </p>
        <a href="#" class="button">Sign up</a>
        <p><small>jumbletrail.com</small></p>
      </div>
      <div class="panel">
        <h5>Wheelmap</h5>
        <p>
          Wheelmap coverage near the library is now at <div class="stat">75%</div>
        </p>
        <a href="#" class="button">Download the app</a>
        <p><small>wheelmap.org</small></p>
      </div>
      <div class="email-footer">
        This email is curated by Ashbourne Library. Members of the library can <a href="/notices">submit suggestions</a> for things to appear in it.
      </div>
    </div>
  </div>
</body>