{% extends "base.html" %}
{% block title %}National Library Service{% endblock %}
{% block content %}
  <section class="row">
    <div class="small-12 large-7 columns">
      <p class="lead">
        Welcome to the National Library Service
      </p>
      {% include '_search_form.html' %}
      <ul>
        <li><a href="{{url_for('ask')}}">Ask a librarian</a></li>
        <li><a href="{{url_for('email_example')}}">Sign up to your local library news service</a></li>
        <li><a href="{{url_for('space')}}">Book study space</a></li>
        <li><a href="{{url_for('reading_group_start')}}">Start a reading group</a></li>
        <li><a href="{{url_for('meeting')}}">Book a space for your community meeting</a></li>
        <li><a href="#">Add information to your local noticeboard</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="columns small-12">
        <h3>This week...</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-6 large-3 columns">
        <div class="stat">128,458</div>
        <p>Books were borrowed</p>
      </div>
      <div class="small-6 large-3 columns">
        <div class="stat">13,008</div>
        <p>Reading groups were held</p>
      </div>
      <div class="small-6 large-3 columns">
        <div class="stat">12,470</div>
        <p>People learned digital skills</p>
      </div>
      <div class="small-6 large-3 columns">
        <div class="stat">9,654</div>
        <p>People knitted</p>
      </div>
    </div>
  </section>
{% endblock %}