{% extends "base.html" %}
{% block title %}Post a notice{% endblock %}
{% block content %}
  <header class="row">
    <div class="columns small-12">
      <h1>Suggest and item for the newsletter</h1>
      <p></p>
    </div>
  </header>
  <div class="row">
    <form method="post" action="" class="columns large-4">
      <label>Title</label>
      <div class="input-group">
        <input name="q" id="q" type="date" class="input-group-field" value=""/>
      </div>
      <label>Link</label>
      <div class="input-group">
        <input name="q" id="q" type="text" class="input-group-field" value="" />
      </div>
      <label>Details</label>
      <textarea></textarea>
      <button type="submit" class="button expanded">Next</button>
    </form>
  </div>
{% endblock %}