{% extends "base.html" %}
{% block title %}Search results{% endblock %}
{% block content %}
  <section class="row expanded">
    <div class="small-12 large-8 columns">
      {% include '_search_form.html' %}
      <div id="search_map" class="map"></div>
      {% if query %}
        {% if not local == False %}
          <h2>Results for <em>{{query}}</em> from Borchester Libraries</h2>
        {% else %}
          <h2>Results for <em>{{query}}</em></h2>
        {% endif  %}
      {% endif %}
        <ul class="tabs" data-tabs id="search_tabs">
          <li class="tabs-title is-active"><a href="#search_books" aria-selected="true">Books{% if results['books']%} ({{results['books']|length}}){% endif %}</a></li>
          <li class="tabs-title"><a href="#search_events">Events{% if results['events']%} ({{results['events']|length}}){% endif %}</a></li>
          <li class="tabs-title"><a href="#search_libraries">Libraries{% if results['books']%} ({{results['libraries']|length}}){% endif %}</a></li>
          <li class="tabs-title"><a href="#search_archive">Archives{% if results['books']%} ({{results['archive']|length}}){% endif %}</a></li>
          <li class="tabs-title"><a href="#search_notices">Notices</a></li>
          <li class="tabs-title"><a href="#search_objects">Objects</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="search_tabs">
          <div class="tabs-panel  is-active" id="search_books">
            {% if results['books'] %}
              <ol>
                {% for result in results['books'] %}
                  {% if result.isbn[0] and result.author %}
                    <li>
                      <a href="{{url_for('book', isbn=result.isbn[0])}}">{{result.title}} &mdash; {{result.author}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ol>
            {% else %}
              <p>Sorry, no results were found</p>
            {% endif %}
          </div>

          <div class="tabs-panel" id="search_events">
            {% if results['events'] %}
              <ol>
                {% for result in results['events'] %}
                  <li>
                    <span class="label secondary">{{result.category}}</span> <a href="{{url_for('event', id=result.id)}}">{{result.title}} &mdash; {{result.library.name}} ({{result.occurs_at}})</a>
                  </li>
                {% endfor %}
              </ol>  
            {% else %}
              <p>Sorry, no results were found</p>
            {% endif %}
          </div>

          <div class="tabs-panel" id="search_libraries">
            {% if results['libraries'] %}
              <ol>
                {% for result in results['libraries'] %}
                  <li>
                    <a href="{{url_for('library', slug=result.slug)}}">{{result.name}}</a>
                  </li>
                {% endfor %}
              </ol>
            {% else %}
              <p>Sorry, no results were found</p>
            {% endif %}
          </div>

          <div class="tabs-panel" id="search_archive">
            {% if results['archive'] %}
              <ol>
                {% for result in results['archive'] %}
                  <li>
                    <a href="{{url_for('archive', film_id=result.film_id)}}">{{result.title}} &mdash; National Film Archive</a>
                  </li>
                {% endfor %}
              </ol>
            {% else %}
              <p>Sorry, no results were found</p>
            {% endif %}
          </div>

        </div>
    </div>
  </section>
  
  <script type="text/javascript">
    var map = L.map('search_map', {zoomControl: false,
    attributionControl: false, dragging: false, touchZoom: false, scrollWheelZoom: false, doubleClickZoom: false, boxZoom: false});

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 12,
    center: L.latLng(53.2688627,-1.4371918),
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoibWVtZXNwcmluZyIsImEiOiJjaXJkbjBiNWwwMDl6aWxsd2Q1aDUxaXFuIn0.TrZ_GEqA1Ib1FFiVa-xp4g'
}).addTo(map);
    map.locate({setView: true, maxZoom: 13});
    map.on('locationfound', function(e) {
      //the geo,location is just for show, lets head to Derbyshire
      map.setView(L.latLng(53.2688627,-1.4371918));
    })
  </script>
  
{% endblock %}