{% extends "base.html" %}
{% block title %}Book a space{% endblock %}
{% block content %}
  <header class="row">
    <div class="columns small-12">
      <h1>Book a study space in a library</h1>
    </div>
  </header>
  <div class="row">
    <div class="columns small-12">
      <div class="panel">
        Your study space has been booked. Just quote the following reference when you arrive.
      </div>
      <code>
        7JU 89R
      </code>
      
      <p>
        Or scan this barcode:
      </p>
      <p style="text-align:center;">
        <img src="{{url_for('static', filename='images/qr.png')}}">
      </p>
    </div>
  </div>
{% endblock %}