{% extends "base.html" %}
{% block title %}Book a space{% endblock %}
{% block content %}
  <header class="row">
    <div class="columns small-12">
      <h1>Book a study space in a library</h1>
      <p>Search all the library study spaces near by.</p>
      <p><a href="{{url_for('meeting')}}">You can also book a room for a community meeting</a></p>
    </div>
  </header>
  <div class="row">
    <form method="post" action="" class="columns large-4">
      <label for="postcode">Choose a date and time</label>
      <div class="input-group">
        <input name="q" id="q" type="date" class="input-group-field" value="" placeholder="eg tomorrow at 2pm"/>
      </div>
      <label for="postcode">Enter your postcode</label>
      <div class="input-group">
        <input name="q" id="q" type="text" class="input-group-field" value="" />
      </div>
      <fieldset>
        <legend>Do you need to book a computer?</legend>
        <input type="radio" name="yes" value="yes" id="yes" required><label for="yes">Yes</label>
        <input type="radio" name="no" value="no" id="no" required><label for="no">No</label>
      </fieldset>
      <button type="submit" class="button">Go</button>
    </form>
  </div>
{% endblock %}